.product__content {
    margin: 20px; 
}
  
.title__container {
    text-align: center;
    font-size: 30px;
}
  
.product__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}
  
.item {
    position: relative;
    width: calc(33.3% - 200px);
    margin: 10px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: transform 0.3s, box-shadow 0.3s;
}
  
.item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    filter: brightness(1.2);
}
  
.item img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: -1;
}
  
.product_info {
    position: absolute;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 10px;
    display: flex;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-height: 28%;
    flex-direction: column;
    text-overflow: ellipsis;
    overflow: hidden;
    top: auto;
    bottom: 0;
    transition: box-shadow 0.3s, filter 0.3s;
}
  
.product_info p {
    font-size: small;
}
  
@media (max-width: 1200px) {
    .item {
      max-width: calc(50% - 200px);
      min-width: calc(50% - 200px);
    }
}
  
@media (max-width: 768px) {
    .item {
      max-width: calc(100% - 200px);
      min-width: calc(100% - 200px);
    }
}

@media (max-width: 450px) {
    .item {
      max-width: calc(100% - 20px);
      min-width: calc(100% - 20px);
    }
}